<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp uap3">

  <Identity
    Name="30812FreistLi.HoloDomino"
    Publisher="CN=BA4FE9E6-EC51-402C-A8D1-1354151C2AAF"
    Version="1.0.42.0" />

  <mp:PhoneIdentity PhoneProductId="2ec589a5-7c5f-43fe-b8f6-b7a69df8d4eb" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Holo Domino</DisplayName>
    <PublisherDisplayName>Freist Li</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="UWPDebugging.App">
      <uap:VisualElements
        DisplayName="Holo Domino"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="UWPDebugging"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\BadgeLogo.png"/>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.alarm">
        </uap:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="OOPBackgroundTask.BadgeTask">
          <BackgroundTasks>
            <Task Type="timer"/>
            <Task Type="pushNotification" />
          </BackgroundTasks>
        </Extension>
       
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="holodomino"/>
        </uap:Extension>
       <uap:Extension Category="windows.aboveLockScreen" />
        <uap:Extension Category="windows.appService">
          <uap:AppService Name="InProcessAppService" />
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <rescap:Capability Name="backgroundMediaRecording"/>
    <rescap:Capability Name="broadFileSystemAccess"/>
    <rescap:Capability Name="packageManagement"/>
    <uap:Capability Name="documentsLibrary"/>
    <Capability Name="internetClient"/>
  </Capabilities>
</Package>